body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1em;
}
header img{
    width: 100px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #575757;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
}
main {
    padding: 20px;
    height:300px;
}
h1{
    text-align: center;
}
.tinggi{
    height:auto;
}

.tinggi img{
    width: 250px;
}
